@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order Placed Successfuly</h1>
            <span>Your Order Number is : @Model.OderId</span> <br/> <br/>
            <img src="~/images//lawn_leaf.jpg" width="65%"/>
        </div>
        <div class="col-12 text-center" style="color: maroon">
            <br/>
            <span>Your order has been placed successfuly!</span> <br/>
            <span>Please make sure to arrive on time for hot delicious food!</span>
        </div>
    </div>
</div>
