@page
@model Taste.Pages.Admin.FoodType.UpsertModel
@{
    ViewData["Title"] = Model.FoodType.Id == 0 ? "Create" : "Edit" + "Food Type";
}

<form method="post">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                <h2 class="text-primary">@(Model.FoodType.Id == 0 ? "Create" : "Edit") Food Type</h2>
            </div>
            <div class="col-8 pt-3">
                @if (Model.FoodType.Id != 0)
                {
                    <input type="hidden" asp-for="FoodType.Id" />
                }
                <div class="mb-3 row">
                    <div class="col-3">
                        <label asp-for="FoodType.Name"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="FoodType.Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="FoodType.Name"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.FoodType.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">
                                        Update
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">
                                        Create
                                    </button>

                                }
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger form-control" asp-page="Index">
                                    Back to list
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
